{% extends 'layout.html' %}  

{% block content %}  
<div class="jumbotron">
    <p><a class="btn btn-lg btn-success" href="#" role="button">Create Account</a></p>
</div>

<div class="row marketing">
    <div class="row">
        <div class="col-lg-4">
            <a href="#" class="thumbnail">
              <img src="{{ url_for('static', filename = 'Vegetables.jpeg') }}" alt="Vegetables">
            </a>
        </div>
        <div class="col-lg-8">
            <h3>Vegetables</h3>
            <p>Maecenas faucibus mollis interdum.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-lg-8">
            <h3>Chaps</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>

        <div class="col-lg-4">
            <a href="#" class="thumbnail">
              <img src="{{ url_for('static', filename = 'chaps.jpeg') }}" alt="Chaps">
            </a>
        </div>  
    </div>
    
    <hr class="featurette-divider">

    <div class="row">
         <div class="col-lg-4">
            <a href="#" class="thumbnail">
              <img src="{{ url_for('static', filename = 'beans.jpeg') }}" alt="Bean Soup">
            </a>
        </div>

        <div class="col-lg-8">
            <h3>Bean Soup</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
        </div>
    </div>
    {% endblock %}
